@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

:root {
	--fridget-green: #60a561;
	--fridget-green-dark: #427643;
	--fridget-green-darkest: #2c4e2d;

	--fridget-white: #fff;
	--fridget-white-dark: #edf2f7;
	--fridget-white-darkest: #cbd5e0;

	--fridget-black: #000;

	--fridget-border-radius: 6px;
	--primary-font: 'Playfair Display', serif;
}

html {
	height: 100%;
    display: flex;
    flex-direction: column;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    flex: 1;
	margin: 0;
	background-color: var(--fridget-white);
}

.grocery-list {
    --grocery-image-size: 4.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grocery-item {
	width: calc(100% - 4rem);
	display: grid;
	grid-template-columns: var(--grocery-image-size) auto 2rem;
	grid-column-gap: 2rem;
	align-items: center;
	background-color: var(--fridget-white);
	transition: background-color 0.2s ease-in-out;
	padding: 2rem;
	border-bottom: 1px solid var(--fridget-white-darkest);
}

.grocery-item:hover {
	cursor: pointer;
	background-color: var(--fridget-white-dark);
	z-index: 1;
}

.grocery-item__image {
	height: var(--grocery-image-size);
	width: var(--grocery-image-size);
    background-size: cover;
    background-color: var(--fridget-green);
	border-radius: var(--fridget-border-radius);
}

.grocery-item__name {
	font-family: var(--primary-font);
	font-size: 1.5rem;
	letter-spacing: 1px;
	margin: 0;
}

.grocery-item__chevron {
	height: 2rem;
}


.add-item-button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fridget-green);
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}

.add-item-button:hover {
    cursor: pointer;
}

.add-item-button:active {
    background-color: var(--fridget-green-dark);
}

.add-item-button__icon {
    height: 2rem;
}

.dash-controls {
    height: 60px;
    width: 100%;
    background-color: var(--fridget-white);
    box-shadow: 0px 0px 10px 0px var(--fridget-white-darkest);
    position: fixed;
    bottom: 0;
    z-index: 1;
}
